:root {
  --font-size: 18px;
  --color-dark: hsl(0, 0%, 17%);
  --color-white: hsla(0, 0%, 59%,.5);
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 700;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: var(--font-weight-1);
  outline: none;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 1em;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main .uper {
  position: relative;
  width: 100%;
  height: 40%;
  background: url(./images/pattern-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .uper > h1 {
  color: white;
  font-weight: var(--font-weight-1);
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 1.5;
}
main .uper form {
  display: flex;
  width: 100%;
  text-align: center;
  margin-block: 10px;
  align-items: center;
  justify-content: center;
}
main .uper form input[type="text"] {
  width: 50%;
  height: 50px;
  border: none;
  font-size: var(--font-size);
  padding-inline: 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
main .uper form button {
  height: 50px;
  padding-inline:10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: black;
  border : none;
  cursor: pointer;
}
main .uper form button .arrow{
  color : white;
  font-weight: bold;
}
main .uper .info{
  width : 80%;
  height : 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  gap : 20px;
  position: absolute;
  top : 80%;
  background-color: white;
  box-shadow: -10px 0px 100px 5px rgba(0,0,0,.5);
  padding:25px ;
  border-radius: 25px;  
  z-index: 50;
}
main .uper .info >div {
  border-right: 2px solid var(--color-white);
  padding-inline:20px;
}
main .uper .info >div:last-child{
  border: none;
}
main .uper .info > div h1:first-child{
  font-size : 1rem;
  color :hsla(0, 0%, 59%);
  line-height: 2;
}
main .uper .info > .loc{
  width : 30%;
  overflow: hidden;
  overflow-wrap: break-word;
}
main .map{
  height : 100%;
  z-index : 1;
}